<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
    <Properties>
        <Property name="LOG_PATTERN">[%-5p] | %d{yyyy-MM-dd HH:mm:ss.SSS} | [%t] %c (%F:%L) - %m%n</Property>
        <Property name="logFilePath">log/springdemo.log</Property>
    </Properties>
    <Appenders>
       <Console name="LogToConsole" target="SYSTEM_OUT">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>
        <File name="LogToFile" fileName="${logFilePath}">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </File>
    </Appenders>
    <Loggers>
        <Logger name="com.example.demo" level="debug" additivity="false">
            <AppenderRef ref="LogToConsole" />
            <AppenderRef ref="LogToFile" />
        </Logger>

        <Logger name="org.springframework" level="debug" additivity="false">
          <AppenderRef ref="LogToConsole" />
          <AppenderRef ref="LogToFile" />
        </Logger>

        <Logger name="org.hibernate" level="debug" additivity="false">
           <AppenderRef ref="LogToConsole" />
           <AppenderRef ref="LogToFile" />
        </Logger>

        <Logger name="org.flywaydb" level="debug" additivity="false">
           <AppenderRef ref="LogToConsole" />
           <AppenderRef ref="LogToFile" />
        </Logger>


        <Root level="trace">
            <AppenderRef ref="ConsoleAppender" />
            <AppenderRef ref="LogFile" />
        </Root>
    </Loggers>
</Configuration>